@page
@model TestUser.Pages.Sessions.CreateModel

<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Session.UserID" class="control-label"></label>
                <input asp-for="Session.UserID" class="form-control" contenteditable="false"/>
                <span asp-validation-for="Session.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.SessionStart" class="control-label"></label>
                <input asp-for="Session.SessionStart" class="form-control" />
                <span asp-validation-for="Session.SessionStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.SessionEnd" class="control-label"></label>
                <input asp-for="Session.SessionEnd" class="form-control" />
                <span asp-validation-for="Session.SessionEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.SessionInfo" class="control-label"></label>
                <input asp-for="Session.SessionInfo" class="form-control" />
                <span asp-validation-for="Session.SessionInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Users/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
